@{
    Layout = null;
    ViewBag.Title = "Ragnarok";
}
@using System.Web.Optimization
@using EasyModules.NET.Core.Web.Extensions
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>
        @ViewBag.Title
    </title>
    @Styles.Render("~/bundles/less")
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/ko")
    @Scripts.Render("~/bundles/metrojs")
</head>
<body class="desktop dark home">
    <header>
        <div class="site-title"><a href="/">EasyModules.NET</a></div>
    </header>
    <section class="main-content clear-fix">
        <div id="jsapp">
            <script type="text/javascript">
                var gamePath = '@Url.AbsoluteContent("~/Modules/EasyModules.NET.Modules.Games.Web/Ragnarok/")';
            </script>
            @Scripts.Render("~/bundles/ragnarok")
        </div>

        <div id="info" style="text-align: center;">
            <span id="framecounter">(0/0 fps)</span>
        </div>
    </section>
</body>
</html>
