@using System.Web.Optimization
@model EasyModules.NET.Core.Web.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

<div class="tile-group first four-wide">
 @using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <h2>Create a new account.</h2>

     <fieldset>
         <legend>Registration Form</legend>
         <div>
             <div style="width: 150px;float: left;">@Html.LabelFor(m => m.UserName)</div>
             <div style="float: left;">@Html.TextBoxFor(m => m.UserName)</div>
         </div>
         <div style="clear: both;">
             <div style="width: 150px;float: left;">@Html.LabelFor(m => m.Password)</div>
             <div style="float: left;">@Html.PasswordFor(m => m.Password)</div>
         </div>
         <div style="clear: both;">
             <div style="width: 150px;float: left;">@Html.LabelFor(m => m.ConfirmPassword)</div>
             <div style="float: left;">@Html.PasswordFor(m => m.ConfirmPassword)</div>
         </div>
         <div style="clear: both;">
             <div style="width: 150px;float: left;">@Html.LabelFor(m => m.Email)</div>
             <div style="float: left;">@Html.TextBoxFor(m => m.Email)</div>
         </div>
         <div style="clear: both;">
            <input type="submit" value="Register" />
         </div>
     </fieldset>
 }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
